<form id='shorten-form'>
  <input type="text" id="url-box" />
  <button class='submit-url' type="submit">Shorten</button>
</form>
<div id='short-url-content' style='display:none;'>
  <p class='shortened-url'></p>
  <button onclick="CreateLink.copy()">Copy</button>
</div>
<div id='error-content' style='display:none;'>
  <p class='error'></p>
</div>
